<center><h1 style="font-size:2em;color:#2467C0"><h1 style="font-size:2em;color:#2467C0">Coleta de dados</h1>

## Objetivo deste estudo: 

* O intuito deste notebook é apresentar de forma clara e sucinta de como foi realizado a coleta dos dados:


* Saída de arquivo .csv;

## Importar bibliotecas
<br> Começaremos importando as bibliotecas Python que usaremos nesta análise. Essas bibliotecas incluem:
<ul>
<li> <b> pyodbc </b> drive odbc para carregar os dados. </li>
<li> <b> pandas </b> e <b> numpy </b> para ingestão e manipulação de dados. </li>

</ul>

In [1]:
# Bibliotecas para conexão a base de dados via script SQL
import pyodbc

# Bibliotecas para criação e manipulação de DATAFRAMES e Algebra 
import pandas as pd 
import numpy as np

* Conexão com a base de dados enriquecidos de recarga e serviços dos Leads

In [2]:
odbc_mysql = '{MySQL ODBC 8.0 ANSI driver}'

# Conection MYSQL Server
con_mysql = pyodbc.connect(DRIVER=odbc_mysql, 
                           SERVER='servidor', 
                           PORT='1234', 
                           USER='usuario', 
                           PASSWORD='senha*', 
                           charset='utf8')

* Carregando os dados via SQL

In [12]:
def get_contact(contact):
    # Get contact
    query = """
        SELECT DISTINCT
            l.id_contact,
            l.plan_type
        FROM
            lead.leads AS l
        WHERE l.is_chat = 1
            AND l.id_campaign = 25
            AND l.id_contact = {}
            AND l.created_at BETWEEN '2021-08-19 00:00:00' AND '2021-10-31 23:59:59';
    """.format(contact)
    data = pd.read_sql_query(query, db.get_connection('con_mysql'))
    return data

def get_recharges(contact):
    # Get recharge frequency and total spent
    query = """
        SELECT DISTINCT
            rec.id_contact,
            SUM(rec.value) AS sum_recharge,
            COUNT(1) AS recharge_frequency
        FROM (
            SELECT DISTINCT
                id_contact, `type`, value, date_time
            FROM
                carrier.costs
            WHERE
                id_contact IN (
                    SELECT id_contact
                    FROM lead.leads
                    WHERE
                        is_chat = 1
                            AND data LIKE '%Chat%'
                            AND id_campaign = 25
                            AND id_contact {}
                            AND created_at BETWEEN '2021-08-19 00:00:00' AND '2021-10-31 23:59:59')) AS rec
GROUP BY rec.id_contact;
    """.format(contact)
    data = pd.read_sql_query(query, db.get_connection('con_mysql'))
    data.drop(['id_contact'], axis=1, inplace=True)
    return data

def get_recharges_types(contact):
    # Get recharges data
    query = """
        SELECT 
            *
        FROM (
            SELECT DISTINCT
                rec.id_contact, rec_online_10,
                rec_online_35_b5, rec_online_15,
                sos_rec_5, rec_online_20_b2,
                chip_pre_rec_10, crip_pre_rec_20,
                rec_online_13, rec_online_50_b8,
                rec_online_30_b4, rec_online_40_b6,
                pct_rec_1190, pct_rec_690,
                rec_online_100_b18, pct_rec_sos_5,
                sos_rec_3, rec_online_8
            FROM (
                SELECT DISTINCT
                rec.id_contact,
                SUM(rec.rec_online_10) AS rec_online_10,
                SUM(rec.rec_online_35_b5) AS rec_online_35_b5,
                SUM(rec.rec_online_15) AS rec_online_15,
                SUM(rec.sos_rec_5) AS sos_rec_5,
                SUM(rec.rec_online_20_b2) AS rec_online_20_b2,
                SUM(rec.chip_pre_rec_10) AS chip_pre_rec_10,
                SUM(rec.crip_pre_rec_20) AS crip_pre_rec_20,
                SUM(rec.rec_online_13) AS rec_online_13,
                SUM(rec.rec_online_50_b8) AS rec_online_50_b8,
                SUM(rec.rec_online_30_b4) AS rec_online_30_b4,
                SUM(rec.rec_online_40_b6) AS rec_online_40_b6,
                SUM(rec.pct_rec_1190) AS pct_rec_1190,
                SUM(rec.pct_rec_690) AS pct_rec_690,
                SUM(rec.rec_online_100_b18) AS rec_online_100_b18,
                SUM(rec.pct_rec_sos_5) AS pct_rec_sos_5,
                SUM(rec.sos_rec_3) AS sos_rec_3,
                SUM(rec.rec_online_8) AS rec_online_8
            FROM (
                SELECT DISTINCT
                    rec.id_contact, rec.date_time,
                    IF(rec.type LIKE '%RECARGA ONLINE R$10%', 1, 0) AS rec_online_10,
                    IF(rec.type LIKE '%RECARGA ONLINE R$35 + BONUS R$5%', 1, 0) AS rec_online_35_b5,
                    IF(rec.type LIKE '%RECARGA ONLINE R$15%', 1, 0) AS rec_online_15,
                    IF(rec.type LIKE '%SOS RECARGA - R$5%', 1, 0) AS sos_rec_5,
                    IF(rec.type LIKE '%RECARGA ONLINE R$20 + BONUS R$2%', 1, 0) AS rec_online_20_b2,
                    IF(rec.type LIKE '%CHIP PRE + RECARGA R$10%', 1, 0) AS chip_pre_rec_10,
                    IF(rec.type LIKE '%CHIP PRE + RECARGA R$20%', 1, 0) AS crip_pre_rec_20,
                    IF(rec.type LIKE '%RECARGA ONLINE R$13%', 1, 0) AS rec_online_13,
                    IF(rec.type LIKE '%RECARGA ONLINE R$50 + BONUS R$8%', 1, 0) AS rec_online_50_b8,
                    IF(rec.type LIKE '%RECARGA ONLINE R$30 + BONUS R$4%', 1, 0) AS rec_online_30_b4,
                    IF(rec.type LIKE '%RECARGA ONLINE R$40 + BONUS R$6%', 1, 0) AS rec_online_40_b6,
                    IF(rec.type LIKE '%PACOTE RECARGA R$11,90%', 1, 0) AS pct_rec_1190,
                    IF(rec.type LIKE '%PACOTE RECARGA R$6,90%', 1, 0) AS pct_rec_690,
                    IF(rec.type LIKE '%RECARGA ONLINE R$100 + BONUS R$18%', 1, 0) AS rec_online_100_b18,
                    IF(rec.type LIKE '%PACOTE SOS RECARGA R$5,00%', 1, 0) AS pct_rec_sos_5,
                    IF(rec.type LIKE '%SOS RECARGA - R$3%', 1, 0) AS sos_rec_3,
                    IF(rec.type LIKE '%RECARGA ONLINE R$8%', 1, 0) AS rec_online_8
                FROM (
                    SELECT DISTINCT
                        id_contact, `type`, value, date_time
                    FROM carrier.costs
                    WHERE id_contact IN (
                        SELECT id_contact
                        FROM lead.leads
                        WHERE
                            is_chat = 1
                                AND data LIKE '%Chat%'
                                AND id_campaign = 25
                                AND id_contact {}
                                AND created_at BETWEEN '2021-08-19 00:00:00' AND '2021-10-31 23:59:59')) AS rec
                    GROUP BY rec.id_contact , rec.type , rec.date_time) AS rec
                    GROUP BY rec.id_contact) AS rec) AS tab;
    """.format(contact)
    data = pd.read_sql_query(query, db.get_connection('con_mysql'))
    data.drop(['id_contact'], axis=1, inplace=True)
    return data

def get_services(contact):
    # Get services data
    query = """
        SELECT DISTINCT
            serv.id_contact,
            SUM(serv.value) AS sum_services,
            COUNT(1) AS services_frequency
        FROM (
            SELECT DISTINCT
                id_contact, description, value, date_time
            FROM carrier.services
            WHERE
                is_chat = 1
                    AND data LIKE '%Chat%'
                    AND id_campaign = 25
                    AND id_contact {}
                    AND created_at BETWEEN '2021-08-19 00:00:00' AND '2021-10-31 23:59:59')) AS serv
GROUP BY serv.id_contact;
    """.format(contact)
    data = pd.read_sql_query(query, db.get_connection('con_mysql'))
    data.drop(['id_contact'], axis=1, inplace=True)
    return data

def get_services_types(contact):
    # Get services types
    query = """
        SELECT *
        FROM (
            SELECT DISTINCT
                serv.id_contact, inter_avulsa,
                antivirus, app_educacao,
                app_emprego, app_saude,
                clube, pre_mix_giga,
                entretenimento, games,
                pct_internet_mensal, prezao_diario,
                prezao_mensal, prezao_quinzenal,
                prezao_semanal, recarga_sos,
                servicos_operadora, set1,
                sms_cobrar, sms_internacional,
                transf_entre_regionais, truecaller
            FROM (
                SELECT DISTINCT
                    serv.id_contact,
                    SUM(serv.inter_avulsa) AS inter_avulsa,
                    SUM(serv.antivirus) AS antivirus,
                    SUM(serv.app_educacao) AS app_educacao,
                    SUM(serv.app_emprego) AS app_emprego,
                    SUM(serv.app_saude) AS app_saude,
                    SUM(serv.clube) AS clube,
                    SUM(serv.pre_mix_giga) AS pre_mix_giga,
                    SUM(serv.entretenimento) AS entretenimento,
                    SUM(serv.games) AS games,
                    SUM(serv.pct_internet_mensal) AS pct_internet_mensal,
                    SUM(serv.prezao_diario) AS prezao_diario,
                    SUM(serv.prezao_mensal) AS prezao_mensal,
                    SUM(serv.prezao_quinzenal) AS prezao_quinzenal,
                    SUM(serv.prezao_semanal) AS prezao_semanal,
                    SUM(serv.recarga_sos) AS recarga_sos,
                    SUM(serv.servicos_operadora) AS servicos_operadora,
                    SUM(serv.set1) AS set1,
                    SUM(serv.sms_cobrar) AS sms_cobrar,
                    SUM(serv.sms_internacional) AS sms_internacional,
                    SUM(serv.transf_entre_regionais) AS transf_entre_regionais,
                    SUM(serv.truecaller) AS truecaller
                FROM (
                    SELECT DISTINCT
                        serv.id_contact,
                        serv.date_time,
                        IF(serv.description LIKE '%internet avulsa%'
                            OR serv.description LIKE '%PACOTE DIARIO 100MB + WHATSAPP AD%'
                            OR serv.description LIKE '%PACOTE DIARIO 200MB + WHATSAPP AD%'
                            OR serv.description LIKE '%PCT 500MB MAIS 7 DIAS%'
                            OR serv.description LIKE '%PCT ADICIONAL 1GB 7 DIAS%'
                            OR serv.description LIKE '%PCT DIARIO 100MB + WHATSAPP%'
                            OR serv.description LIKE '%PCT DIARIO 200MB + WHATSAPP%'
                            OR serv.description LIKE '%TUDO POR R$1.49/DIA%', 1, 0) AS inter_avulsa,
                        IF(serv.description LIKE '%NORTON%'
                            OR serv.description LIKE '%SEGURANCA HERO%', 1, 0) AS antivirus,
                        IF(serv.description LIKE '%IDIOMAS BY BUSUU%'
                            OR serv.description LIKE '%FUN ENGLISH WITH DOKI%'
                            OR serv.description LIKE '%INGLES MAGICO APP%', 1, 0) AS app_educacao,
                        IF(serv.description LIKE '%MINUTO CARREIRA%', 1, 0) AS app_emprego,
                        IF(serv.description LIKE '%BTFIT%', 1, 0) AS app_saude,
                        IF(serv.description LIKE '%CONECTA%'
                            OR serv.description LIKE '%FOTO%'
                            OR serv.description LIKE '%FOTO - OUTRAS OPERADORAS%'
                            OR serv.description LIKE '%FOTO PARA E-MAIL%'
                            OR serv.description LIKE '%GAMES%'
                            OR serv.description LIKE '%NOTICIAS%'
                            OR serv.description LIKE '%CLUBE APPS%', 1, 0) AS clube,
                        IF(serv.description LIKE '%PRE MIX GIGA%', 1, 0) AS pre_mix_giga,
                        IF(serv.description LIKE '%BADOO - COMPRA AVULSA%'
                            OR serv.description LIKE '%BAND SPORTS%'
                            OR serv.description LIKE '%CLUBE KIDS%'
                            OR serv.description LIKE '%CLUBE MARVEL%'
                            OR serv.description LIKE '%CLUBE STARWARS%'
                            OR serv.description LIKE '%CUPIDOO%'
                            OR serv.description LIKE '%DESCOMPLICA%'
                            OR serv.description LIKE '%DISCOVERY KIDS ON%'
                            OR serv.description LIKE '%DISNEY CUBES%'
                            OR serv.description LIKE '%EGO%'
                            OR serv.description LIKE '%FOX SPORTS GOL%'
                            OR serv.description LIKE '%JOGADA MUSICAL%'
                            OR serv.description LIKE '%JOGADA DE PREMIOS%'
                            OR serv.description LIKE '%LIVROH%'
                            OR serv.description LIKE '%MIX DE  VANTAGENS%'
                            OR serv.description LIKE '%PASSATEMPO PREMIADO%'
                            OR serv.description LIKE '%PET DICAS%'
                            OR serv.description LIKE '%PLAYKIDS%'
                            OR serv.description LIKE '%PLAY KIDS%'
                            OR serv.description LIKE '%POCOYO HOUSE%'
                            OR serv.description LIKE '%PRIME TUBE%'
                            OR serv.description LIKE '%QUERO DESCONTOS%'
                            OR serv.description LIKE '%RADAR%'
                            OR serv.description LIKE '%SOCIAL COMICS%'
                            OR serv.description LIKE '%SONHO PREMIADO%'
                            OR serv.description LIKE '%SX REVOLUTION%'
                            OR serv.description LIKE '%UBOOK%'
                            OR serv.description LIKE '%UMBARATO%'
                            OR serv.description LIKE '%UOL CURSO DE BOLSO%'
                            OR serv.description LIKE '%VIAJE MAIS%'
                            OR serv.description LIKE '%VOCE GOURMET%', 1, 0) AS entretenimento,
                        IF(serv.description LIKE '%APP GAME%'
                            OR serv.description LIKE '%FUTCEL%'
                            OR serv.description LIKE '%GAMELOFT ITEM DE JOGO%'
                            OR serv.description LIKE '%GAMES FUN%'
                            OR serv.description LIKE '%JOGOS DE SEMPRE%'
                            OR serv.description LIKE '%NEYMAR JR. EXPERIENCE%'
                            OR serv.description LIKE '%PROMO GENIUS GAME%'
                            OR serv.description LIKE '%QUIZ SUPER - JOGO%', 1, 0) AS games,
                        IF(serv.description LIKE '%PACOTE MENSAL 1GB + WHATSAPP GRATIS%'
                            OR serv.description LIKE '%PACOTE MENSAL 2GB + WHATSAPP GRATIS%'
                            OR serv.description LIKE '%PACOTE MENSAL 300MB + WHATSAPP GRATIS%'
                            OR serv.description LIKE '%PACOTE MENSAL 500MB + WHATSAPP GRATIS%', 1, 0) AS pct_internet_mensal,
                        IF(serv.description LIKE '%PREZAO DIARIO 100MB + WHATSAPP + SMS%'
                            OR serv.description LIKE '%PREZAO DIARIO 100MB +WHATS+ SMS 1,99/DIA%', 1, 0) AS prezao_diario,
                        IF(serv.description LIKE '%PREZAO 34,99 POR MES%'
                            OR serv.description LIKE '%PREZAO 14,99 POR MES%'
                            OR serv.description LIKE '%PREZAO R$19,99 POR MES%'
                            OR serv.description LIKE '%PREZAO FALA MAIS MENSAL%', 1, 0) AS prezao_mensal,
                        IF(serv.description LIKE '%PREZAO FALA MAIS 14 DIAS%'
                            OR serv.description LIKE '%PREZAO MUITO MAIS 14 DIAS%', 1, 0) AS prezao_quinzenal,
                        IF(serv.description LIKE '%PREZAO 9,99 POR SEMANA%'
                            OR serv.description LIKE '%PREZAO 14,99 POR SEMANA%', 1, 0) AS prezao_semanal,
                        IF(serv.description LIKE '%SOS RECARGA - DEBITO EMPRESTIMO APP%'
                            OR serv.description LIKE '%SOS RECARGA - DEBITO R$2,00%'
                            OR serv.description LIKE '%SOS RECARGA - DEBITO R$5,00%'
                            OR serv.description LIKE '%SOS RECARGA - DEBITO TAXA APP%', 1, 0) AS recarga_sos,
                        IF(serv.description LIKE '%ADESAO CHIP NATURA%'
                            OR serv.description LIKE '%AJUSTES DE CREDITOS%'
                            OR serv.description LIKE '%RECADO%'
                            OR serv.description LIKE '%RECADO PREMIUM%'
                            OR serv.description LIKE '%ESTORNO AUTOMATICO DE ANATEL 226%'
                            OR serv.description LIKE '%ESTORNO TORPEDO%'
                            OR serv.description LIKE '%EXPIRACAO DE CREDITO APOS 30 DIAS.%'
                            OR serv.description LIKE '%RECADO AVULSO%'
                            OR serv.description LIKE '%SOM DE CHAMADA%', 1, 0) AS servicos_operadora,
                        IF(serv.description LIKE '%set%', 1, 0) AS set1,
                        IF(serv.description LIKE '%TORPEDO A COBRAR%'
                            OR serv.description LIKE '%TORPEDO A COBRAR DEGRAU OUTRAS OPER%', 1, 0) AS sms_cobrar,
                        IF(serv.description LIKE '%TORPEDO - INTERNACIONAL%', 1, 0) AS sms_internacional,
                        IF(serv.description LIKE '%TRANSFERENCIA ENTRE REGIONAIS%', 1, 0) AS transf_entre_regionais,
                        IF(serv.description LIKE '%TRUECALLER%', 1, 0) AS truecaller
                    FROM (
                        SELECT DISTINCT
                            id_contact, description, value, date_time
                        FROM carrier.services
                        WHERE id_contact IN (
                            SELECT id_contact
                            FROM lead.leads
                            WHERE
                                is_chat = 1
                                    AND data LIKE '%Chat%'
                                    AND id_campaign = 25
                                    AND id_contact {}
                                    AND created_at BETWEEN '2021-08-19 00:00:00' AND '2021-10-31 23:59:59')) AS serv
                    GROUP BY serv.id_contact , serv.description , serv.date_time) AS serv
                    GROUP BY serv.id_contact) AS serv) AS tab;
    """.format(contact)
    data = pd.read_sql_query(query, db.get_connection('con_mysql'))
    data.drop(['id_contact'], axis=1, inplace=True)
    return data

def get_abandonments(contact):
    # Get the abandonment volume
    query = """
        SELECT
            id_contact, count(id) as Qnt_abandono
            FROM abandonment.customers
            WHERE
                customers.id_contact {}
                    AND customers.id_campaign = 25
                    AND customers.params LIKE '%Chat%'
                    AND customers.created_at BETWEEN '2021-08-19 00:00:00' AND '2021-10-31 23:59:59'
            ORDER BY customers.id_contact DESC;
    """.format(contact)
    data = pd.read_sql_query(query, db.get_connection('con_mysql'))
    data.drop(['id_contact'], axis=1, inplace=True)
    return data

def get_client_age(contact):
    # Get client age
    query = """
        SELECT
            year(now()) - year(birthday) as idade_cliente
        FROM customer.customers
        WHERE id in (
            SELECT id_customer
            FROM customer.contacts
            WHERE 
                id = {}
                    AND customers.id_campaign = 25
                    AND customers.params LIKE '%Chat%'
                    AND customers.created_at BETWEEN '2021-08-19 00:00:00' AND '2021-10-31 23:59:59';
    """.format(contact)
    data = pd.read_sql_query(query, db.get_connection('con_mysql'))
    return data

def get_sale(contact):
    # Get sale
    query = """        
        SELECT DISTINCT
            l.id_contact, IF(sl.id IS NULL, 0, 1) AS venda
        FROM
            lead.leads AS l
                LEFT JOIN
            sale.sales AS sl ON l.id_contact = sl.id_contact
        WHERE
            l.is_chat = 1
                AND l.data LIKE '%Chat%'
                AND l.id_campaign = 25
                AND l.id_contact {}
                AND l.created_at BETWEEN '2021-08-19 00:00:00' AND '2021-10-31 23:59:59'
        GROUP BY l.id_contact;
    """.format(contact)
    data = pd.read_sql_query(query, db.get_connection('con_mysql'))
    return data

def get_main_base(contact):    
    # Concat
    data =  get_contact(contact)
    data1 = get_recharges(contact)
    data2 = get_recharges_types(contact)
    data3 = get_services(contact)
    data4 = get_services_types(contact)
    data5 = get_abandonments(contact)
    data6 = get_client_age(contact)
    data7 = get_sale(contact)
    res = pd.concat([data, data1, data2, data3, data4, data5, data6, data7], axis=1)
    # Get .csv
    res.to_csv('data_ptd.csv', sep=';', index=False)
    return res

if __name__== "__main__":
  get_main_base(contact)